<form class="form-signin" name="loginForm" ng-submit="login.submit()" >
  <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus ng-model="login.model.username"/>
  <input type="password" class="form-control" name="password" placeholder="Password" required="" ng-model="login.model.password"/>
  <label class="checkbox">
    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe" ng-model="login.model.rememberMe"> Remember me
  </label>
  <button type="submit" busy="Validating" class="btn btn-default">LOGIN</a>
</form>
